<div class="container">
  <mat-toolbar class="search-toolbar">
    <button mat-icon-button class="profile-icon">
      <mat-icon>person</mat-icon>
    </button>
    <mat-form-field class="search-input" appearance="outline">
      <mat-label>Buscar rutines...</mat-label>
      <input matInput [(ngModel)]="searchText" />
    </mat-form-field>
    <button mat-icon-button class="buttonStar" (click)="showFavorites = !showFavorites">
      <mat-icon class="estrella {{ showFavorites ? 'colorEstrella' : '' }}">{{ showFavorites ? 'star' : 'star_outline' }}</mat-icon>
    </button>
  </mat-toolbar>

  @if(this.loading==0){
    <div class="columnes">
      <div class="routine-list">
        <div class="titleStatic">
          <h1>Rutines propies</h1>
          <div class="add-routine-button">
            <button mat-raised-button color="primary" (click)="addRoutine()">
              <mat-icon>add</mat-icon> Afegir Rutina
            </button>
          </div>
        </div>

        @for(routine of filteredPropiesRoutines; track routine){
          <app-routine-card
            [routine]="routine"
            (favoriteToggle)="changeFavourite(routine)"
          ></app-routine-card>
        }
      </div>

      <div class="routine-list">
        <div class="titleStatic">
          <h1>Rutines generals</h1>

        </div>
        @for(routine of filteredDefaultRoutines; track routine){
          <app-routine-card
            [routine]="routine"
            (favoriteToggle)="changeFavourite(routine)"
          ></app-routine-card>
        }
      </div>

    </div>
  } @else {
    <div class="spinner">
      <mat-spinner ></mat-spinner>
    </div>
  }

</div>
