@if(loading==0){
  <div class="spinner">
    <mat-spinner ></mat-spinner>
  </div>

}
@else{

<div *ngFor="let exercici of exercicis; let i = index" class="main">
  <h3>{{ exercici.nom }}</h3>

  <div *ngFor="let serie of exercici.series; let j = index" class="serie-container">
    <p class="serie-label">Serie {{ j + 1 }}</p>

    <mat-form-field appearance="outline">
      <mat-label>Repeticions</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="exercici.series[j].reps"
        name="reps_{{ i }}_{{ j }}"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Pes</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="exercici.series[j].weight"
        name="weight_{{ i }}_{{ j }}"
      />
    </mat-form-field>

    <div *ngIf="!exercici.descansos[j]; else descansoRegistrado">
      <button mat-raised-button color="primary" (click)="descansar(i, j)">
        <mat-icon>timer</mat-icon><span>Iniciar descans</span>
      </button>
    </div>
    <ng-template #descansoRegistrado>
      <p>Temps: {{ exercici.descansos[j] }} segundos</p>
    </ng-template>
  </div>
</div>


<div class="button-container">
  <button mat-raised-button color="primary" class="cancelar" (click)="tornarPrincipal()">
    <mat-icon>close</mat-icon><span>Cancel·lar Rutina</span>
  </button>

  <button mat-raised-button color="primary" (click)="acabar()">
    <mat-icon>check</mat-icon><span>Acabar</span>
  </button>
</div>
}
